[submodule "Month-1/week-1"]
	path = Month-1/week-1
	url = https://github.com/rupam1208/QR-Prep.git
[submodule "Month-1/week-2"]
	path = Month-1/week-2
	url = https://github.com/rupam1208/QR-Prep.git
